* {
	font-family: 'Acme', sans-serif;
}
.collapsible {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}

.active, .collapsible:hover {
	background-color: #ccc;
}

.content {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.collapsible:after {
	content: '\02795'; 
	font-size: 13px;
	color: white;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: "\2796";
}

#TSA {
	display: none;
}

ol li{
	background-color: white;
	color: black;
	display: initial;
	display: list-item;
	float: initial;
	list-style-type: circle;
	width: initial;
}

button {
	width: 49.8%;
	padding: 2px;
	display: inline-block;
}
